.form {
  position: relative;
  margin: auto;
  text-align: center;
  width: 80%;
  color: white;

  border: 5px solid blueviolet;
}
.form h1 {
  position: relative;
  margin-top: 0px;
  color: white;
  max-width: 100%;
  background-color: blueviolet;
  padding: 20px;
}

label {
  font-weight: 500;
  color: blueviolet;
}

input {
  margin: 10px;
  height: 30px;
  width: 50%;
  border: 2px solid blueviolet;
}
.button {
  width: 50%;
  height: 50px;
  background-color: blueviolet;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  font-weight: 700;
}

:hover.button {
  background-color: white;
  color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 12px;
}
